e{
color:white;
font-size:60px;
-webkit-text-stroke:1px #ff0000;
}

#bottom{
position:fixed;
bottom:0;
width:100%;
background-color:#FFA500;
}

#header{
position:relative;
width=100%;
}

#tenlun{
position:relative;
left:90px;
}

#small{
color:#808080;
font-size:17px;
text-align:center;
vertical-align:middle;
}

#qu{
background-color:#808080;
}